.projects {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.project-card {
  border: 1px solid navy;
  border-radius: 10px;
  margin: 2em;
  padding: 1em;
  width: 400px;
}

label {
    font-weight: 700;
}

.links {
    display: flex;
    flex-direction: column;
}

.links input {
    width: 100%;
    margin-bottom: 1em;
}
